<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4>TheFacebook</h4>

        <ul>
            <li><a href="/">Home</a></li>
             <li><a href="/login">Login</a></li>
              <li><a href="/register">register</a></li>
        </ul>
</nav>
<div class="container mt-4">
    <div class="main">
        <h1 class="dislay-4">Login Page</h1>
        <p class="lead">This is a simple login page using node-js and sql</p>
        <hr class="my-4">
        <p>You can click on below link and learn more</p>
        <a  class="btn btn-promay btn-lg" href="#" role="butoon">learn more</a>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>